<form [formGroup]="profileForm" (ngSubmit)="handleSubmit()">
      <input type="text" formControlName="name" />
      <input type="text" formControlName="customerNumber" />
      <input type="text" formControlName="location" />
      <button type="submit">Submit</button>
    </form>

    <h2>Profile Form</h2>
    <p>Name: {{ profileForm.value.name }}</p>
    <p>customerNumber: {{ profileForm.value.customerNumber }}</p>
    <p>location: {{ profileForm.value.location }}</p>


<div class="container">
 <!-- LISTADO -->
  <h3>Lista de Clientes</h3>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Número</th>
        <th>Ubicación</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      @for (customer of customers; track customer.customerId){
        <tr>
        <td>{{ customer.customerId }}</td>
        <td>{{ customer.name }}</td>
        <td>{{ customer.customerNumber }}</td>
        <td>{{ customer.location }}</td>
        <td>
          <button class="btn btn-sm btn-warning">Editar</button>
          <button class="btn btn-sm btn-danger">Eliminar</button>
        </td>
      </tr>
      }
        
    </tbody>
  </table>
</div>
